@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'Helvetica Bold';
    src: url('fonts/Helvetica-Bold.eot');
    src: url('fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Helvetica-Bold.woff2') format('woff2'),
        url('fonts/Helvetica-Bold.woff') format('woff'),
        url('fonts/Helvetica-Bold.ttf') format('truetype'),
        url('fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Regular';
    src: url('fonts/Helvetica.eot');
    src: url('fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
        url('fonts/Helvetica.woff2') format('woff2'),
        url('fonts/Helvetica.woff') format('woff'),
        url('fonts/Helvetica.ttf') format('truetype'),
        url('fonts/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Microsoft Sans Serif';
    src: url('fonts/MicrosoftSansSerif.eot');
    src: url('fonts/MicrosoftSansSerif.eot?#iefix') format('embedded-opentype'),
        url('fonts/MicrosoftSansSerif.woff2') format('woff2'),
        url('fonts/MicrosoftSansSerif.woff') format('woff'),
        url('fonts/MicrosoftSansSerif.ttf') format('truetype'),
        url('fonts/MicrosoftSansSerif.svg#MicrosoftSansSerif') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{margin:0;padding:0;box-sizing:border-box;}
body{
	font-family: 'Microsoft Sans Serif';font-size:16px;color:#000000;
    background-color:#ffffff;
}
a, a:active, a:focus, a:hover,input:hover {
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
   }
.container-vibranium{max-width:1800px;margin:0 auto;position:relative;}
@media (max-width:1799px) {
    .container-vibranium{max-width:95%;}
}

/*BOf Header Style******************************/
.header-section{min-height:165px;position:fixed;width:100%;z-index:99;
    -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;
}
.header-section.light-header{background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);}
.header-section .head-black-section{background-color:#000000;min-height:42px;color:#ffffff;}
.header-section .head-black-section .head-wrap{display:flex;align-items:center;justify-content:space-between;min-height:42px;padding-left:260px;}
.header-section .head-black-section .head-wrap a{color:#ffffff;font-size:15px;padding:0 5px;text-decoration:none;}
.header-section .head-black-section .head-wrap a b{font-weight:normal;}
.header-section .head-black-section .head-wrap span{color:#ffffff;font-size:15px;padding-left:5px;}
.header-section .head-black-section .head-wrap a i, .header-section .head-black-section .head-wrap span i{margin-right:10px;}
/* @media (max-width:768px) {
    .header-section .head-black-section .head-wrap span{display:none;}
}
@media (max-width:767px) {
    .header-section .head-black-section .head-wrap{padding-left:0;}
    .header-section .head-black-section .head-wrap span{display:block;}
    .header-section .head-black-section .head-black-left{display:none;}
} */
.header-section .head-bottom .brand{background-color:#ffffff;position:absolute;top:-42px;margin:0;}
.header-section .head-bottom .brand a{width:225px;height:105px;display:flex;align-items:center;justify-content:center;}
.header-section .head-bottom ul.right-head{list-style:none;padding:0;margin:0;position:absolute;right:0;display:flex;top:42px;}
.header-section .head-bottom ul.right-head li a{width:42px;height:42px;border:#ffffff solid 1px;margin-left:15px;display:block;}
.header-section .head-bottom ul.right-head li a img{width:40px;}
.header-section .head-bottom ul.right-head li a:hover{background-color:#d80650;border-color:#d80650;}
.header-section .head-bottom ul.right-head li a.navigation{border:0;opacity:0.9;height:40px;width:55px;display:flex;align-items:center;justify-content:center;}
.header-section .head-bottom ul.right-head li a.navigation:hover{background-color:transparent;}

.header-section .head-bottom ul.right-head li a .lg-screen{display:block;}
.header-section .head-bottom ul.right-head li a .sm-screen{display:none;}
.header-section.light-header .head-bottom ul.right-head li a{border-color:#262626;}
.header-section.light-header .head-bottom ul.right-head li a:hover{border-color:#d80650;}
.header-section.light-header .head-bottom ul.right-head li a .lg-screen{display:none;}
.header-section.light-header .head-bottom ul.right-head li a .sm-screen{display:block;}
.header-section.light-header .head-bottom ul.right-head li a:hover .lg-screen{display:block;}
.header-section.light-header .head-bottom ul.right-head li a:hover .sm-screen{display:none;}
.header-section .head-bottom ul.right-head li a:hover.navigation .lg-screen{display:none;}
.header-section .head-bottom ul.right-head li a:hover.navigation .sm-screen{display:block;}
@media (max-width:768px) {
    .header-section.light-header{background-color: rgba(255,255,255,0.95);
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);}
    .header-section .head-black-section .head-wrap{padding-left:0;}
    .header-section .head-bottom .brand{top:8px;background-color:transparent;}
}
@media (max-width:767px) {
    .header-section .head-bottom .brand{top:28px;}
    .header-section .head-bottom .brand a{width:185px;height:65px;}
    .header-section .head-black-section .head-wrap span{display:none;}
    .header-section .head-bottom ul.right-head li:nth-child(1),.header-section .head-bottom ul.right-head li:nth-child(2){display:none;}
    .header-section .head-bottom ul.right-head li:last-child a{margin-left:0;}
    
}
/*EOf Header Style******************************/
/*BOF Navigation***********************************/
.nevigaion{
    position:fixed;display:table;top:0;right:0;z-index:9998;background:#fff;height:100%;padding:20px 100px 108px 100px;outline:1px solid transparent;
    -webkit-transform:translateX(100%);transform:translateX(100%);visibility:hidden;
    -webkit-transition:-webkit-transform .6s,visibility 0s .6s;transition:transform .6s,visibility 0s .6s;
}
.nevigaion.navOpen{visibility:visible;-webkit-transform:translateX(0%);transform:translateX(0%);-webkit-transition:-webkit-transform .6s;transition:transform .6s;}
.navClose{position:absolute;top:40px;right:40px;}
.navLinksContainer{display:table-cell;vertical-align:middle;}
.navFooter{text-align:center;width:100%;position:absolute;bottom:0;left:0;}
.navLinksContainer h1{text-align:center;margin-bottom:45px;}
.navLinksContainer ul{padding:0;margin:0;list-style:none;}
.navLinksContainer ul li{text-align:center;padding:5px 0;}
.navLinksContainer ul li a{
    font-family: 'Helvetica Regular';font-size:24px;color:#000000;text-decoration:none;padding:5px 15px;display:inline-block;
    border:#ffffff solid 1px;
}
.navLinksContainer ul li a:hover, .navLinksContainer ul li a.active{
    border:#0085de solid 1px;color:#0085de;
}
.navFooter .buy-btn{
    font-family:'Helvetica Bold';font-size:18px;color:#ffffff;text-decoration:none;display:inline-block;
    padding:10px 20px;background-color:#d80650;text-transform:uppercase;margin-bottom:45px;
}
.navFooter .buy-btn:hover{background-color:#0063d9;}
.navFooter .connect-with-us h2{
    font-family: 'Microsoft Sans Serif';font-size:16px;
}
.navFooter .connect-with-us span{display:inline-block;padding:10px 0;}
.navFooter .connect-with-us span a{padding:0 10px;}
.navFooter .connect-with-us span a i{font-size:22px;}
.navFooter .connect-with-us span a.facebook{color:#33448b}
.navFooter .connect-with-us span a.twitter{color:#37a2ff}
.navFooter .connect-with-us span a.instagram{color:#000000}
/*EOF Navigation***********************************/
/*BOf Home Banner Style******************************/
.home-banner{
    min-height:100vh;background-color:#003c87;position:relative;overflow:hidden;
    background-image:url(../images/banner.jpg);background-repeat:no-repeat;
}
.home-banner .banner-dot{
    position:absolute;width:100%;height:100%;
    background-image:url(../images/banner-dots.png);background-repeat:no-repeat;background-size:75%;
    background-position:bottom right;
}
.home-banner .banner-modal{
    position:absolute;width:100%;height:100%;
    background-image:url(../images/banner-model.png);background-repeat:no-repeat;background-size:75%;
    background-position:bottom right;
}
.banner-text{
    position:absolute;top:250px;width:50%;z-index:9;
}
.banner-text h1{
    color:#ffffff;font-family: 'Helvetica Regular';font-size:50px;color:#ffffff;text-transform:uppercase;
    padding-bottom:25px;
}
.banner-text h1 span{font-size:30px;}
.banner-text h1 b{
    font-family: 'Helvetica Bold';font-size:67px;
}
.banner-text p{
    color:#ffffff;font-family: 'Helvetica Regular';font-size:22px;color:#ffffff;padding-bottom:25px;
}
.banner-text a{
    font-family: 'Helvetica Bold';font-size:18px;text-transform:uppercase;display:inline-block;overflow:hidden;
    padding:15px 20px;border:#ffffff solid 1px;color:#ffffff;text-decoration:none;margin-right:15px;position:relative;
}
.banner-text a:hover{
    background-color:#d80650;border-color:#d80650;color:#ffffff;
    box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -moz-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
}
 .banner-text a:after{position:absolute;content:"";width:0;height:100%;top:0;right:0;z-index:-1;background:#d80650;transition:all 0.3s ease;}
 .banner-text a:hover{color:#ffffff;}
 .banner-text a:hover:after{left:0;width:100%;}

@media (max-width:1024px) {
    .banner-text{width:100%;text-align:center;}
}
@media (max-width:767px) {
    .banner-text h1{font-size:25px;}
    .banner-text h1 span{font-size:15px;}
    .banner-text h1 b{font-size:30px;}
    .banner-text p{font-size:14px;}
    .banner-text a{margin:0 0 15px 0;}
}
/*EOf Home Banner Style******************************/
/*BOf Home Product Slider Style******************************/
.products-slider{
    padding:0 0 50px 0;margin:-50px 0 0 0;position:relative;z-index:9;
}

/*EOf Home Product Slider Style******************************/
/*BOf Home Comprehensive Style******************************/
.list-of-comprehensive{background-color:#e9e9e9;padding:100px 0 80px 0;}
.box-comprehensive{height:100%;padding-bottom:20px;}
.box-comprehensive a{background-color:#ffffff;padding:30px;display:flex;color:#000000;text-decoration:none;height:100%;}
.box-comprehensive a:hover{background-color:#0063d9;box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);}
.box-comprehensive a .text-section{font-size:22px;font-family:'Helvetica Bold';}
.box-comprehensive a .text-section b{font-size:15px;font-family:'Microsoft Sans Serif';display:block;color:#757575;font-weight:normal;}
.box-comprehensive a:hover .text-section,.box-comprehensive a:hover .text-section b{color:#ffffff;}
.box-comprehensive a .usb-protection-icon{width:61px;height:59px;background-image:url(../images/usb-protection-black-icon.svg);background-position:0;background-repeat:no-repeat;display:block;margin-right:20px;flex: 0 0 auto;}
.box-comprehensive a:hover .usb-protection-icon{background-image:url(../images/usb-protection-white-icon.svg);}
.box-comprehensive a .file-shredder-icon{width:61px;height:59px;background-image:url(../images/file-shredder-black-icon.svg);background-position:0;background-repeat:no-repeat;display:block;margin-right:20px;flex: 0 0 auto;}
.box-comprehensive a:hover .file-shredder-icon{background-image:url(../images/file-shredder-white-icon.svg);}
.box-comprehensive a .pc-booster-icon{width:61px;height:59px;background-image:url(../images/pc-booster-black-icon.svg);background-position:0;background-repeat:no-repeat;display:block;margin-right:20px;flex: 0 0 auto;}
.box-comprehensive a:hover .pc-booster-icon{background-image:url(../images/pc-booster-white-icon.svg);}
.box-comprehensive a .process-manager-icon{width:61px;height:59px;background-image:url(../images/process-manager-black-icon.svg);background-position:0;background-repeat:no-repeat;display:block;margin-right:20px;flex: 0 0 auto;}
.box-comprehensive a:hover .process-manager-icon{background-image:url(../images/process-manager-white-icon.svg);}
.box-comprehensive a .autoruns-manager-icon{width:61px;height:59px;background-image:url(../images/autoruns-manager-black-icon.svg);background-position:0;background-repeat:no-repeat;display:block;margin-right:20px;flex: 0 0 auto;}
.box-comprehensive a:hover .autoruns-manager-icon{background-image:url(../images/autoruns-manager-white-icon.svg);}
.box-comprehensive a .file-encryption-icon{width:61px;height:59px;background-image:url(../images/file-encryption-black-icon.svg);background-position:0;background-repeat:no-repeat;display:block;margin-right:20px;flex: 0 0 auto;}
.box-comprehensive a:hover .file-encryption-icon{background-image:url(../images/file-encryption-white-icon.svg);}
.box-comprehensive a .reports-icon{width:61px;height:59px;background-image:url(../images/reports-black-icon.svg);background-position:0;background-repeat:no-repeat;display:block;margin-right:20px;flex: 0 0 auto;}
.box-comprehensive a:hover .reports-icon{background-image:url(../images/reports-white-icon.svg);}
.box-comprehensive a .quarantine-icon{width:61px;height:59px;background-image:url(../images/quarantine-black-icon.svg);background-position:0;background-repeat:no-repeat;display:block;margin-right:20px;flex: 0 0 auto;}
.box-comprehensive a:hover .quarantine-icon{background-image:url(../images/quarantine-white-icon.svg);}
.box-comprehensive a .whitelist-icon{width:61px;height:59px;background-image:url(../images/whitelist-black-icon.svg);background-position:0;background-repeat:no-repeat;display:block;margin-right:20px;flex: 0 0 auto;}
.box-comprehensive a:hover .whitelist-icon{background-image:url(../images/whitelist-white-icon.svg);}
.box-comprehensive a .data-protection-icon{width:61px;height:59px;background-image:url(../images/data-protection-black-icon.svg);background-position:0;background-repeat:no-repeat;display:block;margin-right:20px;flex: 0 0 auto;}
.box-comprehensive a:hover .data-protection-icon{background-image:url(../images/data-protection-white-icon.svg);}
.box-comprehensive a .ransom-prevention-icon{width:61px;height:59px;background-image:url(../images/ransom-prevention-black-icon.svg);background-position:0;background-repeat:no-repeat;display:block;margin-right:20px;flex: 0 0 auto;}
.box-comprehensive a:hover .ransom-prevention-icon{background-image:url(../images/ransom-prevention-white-icon.svg);}
.box-comprehensive a .safe-browsing-icon{width:61px;height:59px;background-image:url(../images/safe-browsing-black-icon.svg);background-position:0;background-repeat:no-repeat;display:block;margin-right:20px;flex: 0 0 auto;}
.box-comprehensive a:hover .safe-browsing-icon{background-image:url(../images/safe-browsing-white-icon.svg);}
/*EOf Home Comprehensive Style******************************/

.tow-col-section{padding:100px 0;}
.mission-section h1{font-family:'Helvetica Bold';font-size:40px;text-transform:uppercase;}
.mission-section p{font-family:'Microsoft Sans Serif';font-size:16px;margin:0;padding:0;}
@media (max-width:991px){
    .mission-section .text-start, .mission-section .text-end{text-align: center!important;}
}
/********************
/**************************/
.Why-Vibranium-section{padding:100px 0 0 0;background-color:#0063d9}
.Why-Vibranium-section .head-of-wv{text-align:center;}
.Why-Vibranium-section .head-of-wv h1{text-align:center;font-family:'Helvetica Bold';font-size:40px;text-transform:uppercase;color:#ffffff;}
.Why-Vibranium-section .head-of-wv p{text-align:center;font-family:'Microsoft Sans Serif';font-size:16px;margin:0;padding:0;color:#ffffff;}
/****/
.why-vibranium-wrap{
    background-image:url(../images/why-vibranium-img.png);background-position:center;
    background-repeat:no-repeat;min-height:968px;position:relative;max-width:975px;margin:0 auto;
}
.why-vibranium-wrap .drop-link{
    font-family:'Helvetica Bold';font-size:32px;color:#ffffff;text-decoration:none;
    border-color:#ffffff;border-style:dashed;border-width:1px;border-radius: 100%;
    width:55px;height:55px;line-height:55px;text-align:center;display:block;
}
.why-vibranium-wrap .drop-link:hover{background-color:#ffc600;color:#000000;border-color:#ffc600;}
.popover .popover-header{padding:10px 15px 20px 15px;background-color:transparent;border-bottom:0;position:relative;}
.popover .popover-header::before{
    content:'';width:40px;height:3px;background-color:#0063d9;
    position:absolute;bottom:9px;left:15px;
}
.popover .popover-body{padding:5px 15px 10px 15px;}

.why-vibranium-wrap .virus-box{position:absolute;left:50%;margin-left:-4%;top:106px;}
.why-vibranium-wrap .invincible-box{position:absolute;left:81%;margin-left:-4%;top:271px;}
.why-vibranium-wrap .banking-box{position:absolute;left:7%;margin-left:-4%;top:235px;}
.why-vibranium-wrap .realtime-box{position:absolute;left:38%;margin-left:-4%;top:305px;}
.why-vibranium-wrap .accelerated-box{position:absolute;left:15%;margin-left:-4%;top:435px;}
.why-vibranium-wrap .network-box{position:absolute;right:-6px;margin-left:-4%;top:525px;}
.why-vibranium-wrap .increased-box{position:absolute;left:494px;margin-left:-4%;top:637px;}
.why-vibranium-wrap .undefendable-box{position:absolute;left:74%;margin-left:-4%;top:707px;}
.why-vibranium-wrap .minimalistic-box{position:absolute;left:19%;margin-left:-4%;top:807px;}
.why-vibranium-wrap .virus-box span, .why-vibranium-wrap .invincible-box span,.why-vibranium-wrap .banking-box span,.why-vibranium-wrap .realtime-box span,
    .why-vibranium-wrap .accelerated-box span,.why-vibranium-wrap .network-box span,.why-vibranium-wrap .increased-box span,.why-vibranium-wrap .undefendable-box span,
    .why-vibranium-wrap .minimalistic-box span{display:none;}
@media (max-width:590px){
    .why-vibranium-wrap .virus-box, .why-vibranium-wrap .invincible-box,.why-vibranium-wrap .banking-box,.why-vibranium-wrap .realtime-box,
    .why-vibranium-wrap .accelerated-box,.why-vibranium-wrap .network-box,.why-vibranium-wrap .increased-box,.why-vibranium-wrap .undefendable-box,
    .why-vibranium-wrap .minimalistic-box{position:relative;left:auto;right:auto;top:auto;margin:25px 0;display:flex;align-items:center}
    .why-vibranium-wrap .virus-box span, .why-vibranium-wrap .invincible-box span,.why-vibranium-wrap .banking-box span,.why-vibranium-wrap .realtime-box span,
    .why-vibranium-wrap .accelerated-box span,.why-vibranium-wrap .network-box span,.why-vibranium-wrap .increased-box span,.why-vibranium-wrap .undefendable-box span,
    .why-vibranium-wrap .minimalistic-box span{display:inline-block;margin-left:10px;font-family:'Helvetica Bold';font-size:18px;color:#ffffff;}
    .why-vibranium-wrap{background-image:none;min-height:auto;}
    .Why-Vibranium-section{padding:100px 0;}
}
/**********************************/
.why-choose-us-section{padding:100px 0;}
.why-choose-us-section .black-section{background-color:#000000;}
.why-choose-us-section .choose-text{padding:0 15%;}
.why-choose-us-section .choose-text h1{font-family:'Helvetica Bold';font-size:40px;color:#ffffff;margin-bottom:20px;}
.why-choose-us-section .choose-text p{font-family:'Microsoft Sans Serif';font-size:16px;color:#ffffff;line-height:26px;margin-bottom:15px;}
.why-choose-us-section .choose-text a{
    font-family:'Helvetica Bold';font-size:18px;color:#ffffff;text-decoration:none;display:inline-block;
    padding:10px 20px;background-color:#d80650;margin-top:25px;
}
.why-choose-us-section .choose-text a:hover{background-color:#0063d9;box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -moz-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);}
.why-choose-us-section .choose-text ul{list-style:none;padding:0;margin:0;}
.why-choose-us-section .choose-text ul li{font-family:'Microsoft Sans Serif';font-size:16px;color:#ffffff;padding:0 0 0 20px;position:relative;margin-bottom:10px;}
.why-choose-us-section .choose-text ul li::before{content: '';position:absolute;left:0;top:7px;background-image:url(../images/arrow-right.png);background-position:0;background-repeat:no-repeat;width:10px;height:10px;display:block;}
@media (max-width:991px){
    .why-choose-us-section .choose-text{padding:10%;}
}
/*******************************/
.about-section{padding:0 0 100px 0;}
.light-section{background-color:#f4f4f4;}
.about-section .about-text{padding:0 15%;}
.about-section .about-text h1{font-family:'Helvetica Bold';font-size:40px;color:#000000;margin-bottom:20px;}
.about-section .about-text p{font-family:'Microsoft Sans Serif';font-size:16px;color:#000000;line-height:26px;margin-bottom:15px;}
.about-section .about-text p strong{text-transform:uppercase;}
.about-section .about-text ul{list-style:none;padding:0;margin:0;}
.about-section .about-text ul li{font-family:'Helvetica Bold';font-size:20px;color:#000000;padding:0 0 0 20px;position:relative;margin-bottom:10px;}
.about-section .about-text ul li::before{content:'';position:absolute;left:0;top:11px;background-image:url(../images/arrow-right.png);background-position:0;background-repeat:no-repeat;width:10px;height:10px;display:block;}
@media (max-width:991px){
    .about-section .about-text{padding:10%;}
}
/********************/
.home-tab-section{padding:0 0 100px 0;overflow:hidden;}
.home-tab-section .tab-wrapper{display:flex!important;flex-direction:row-reverse;}
.home-tab-section .tab-wrapper ul.resp-tabs-list li.resp-tab-item{text-align:right;font-family:'Helvetica Bold';font-size:18px;color:#b3b3b3;background-color: transparent !important;}
.home-tab-section .tab-wrapper ul.resp-tabs-list li.resp-tab-item.resp-tab-active{color:#0063d9;font-size:20px;}
.home-tab-section .tab-wrapper p{font-family:'Microsoft Sans Serif';font-size:16px;color:#000000;line-height:26px;margin-bottom:15px;}
.home-tab-section .tab-wrapper ul.list{list-style:none;padding:0;margin:0;overflow:hidden;display:flex;flex-wrap:wrap;}
.home-tab-section .tab-wrapper ul.list li{font-family:'Helvetica Bold';font-size:20px;color:#000000;padding:0 0 0 20px;position:relative;margin-bottom:10px;width:50%}
.home-tab-section .tab-wrapper ul.list li::before{content: '';position:absolute;left:0;top:11px;background-image:url(../images/arrow-right.png);background-position:0;background-repeat:no-repeat;width:10px;height:10px;display:block;}
.home-tab-section .tab-wrapper ul.list li p{font-family:'Microsoft Sans Serif';font-size:16px;color:#000000;line-height:26px;margin-bottom:15px;}
.home-tab-section .tab-wrapper ul.list li h2{font-family:'Helvetica Bold';font-size:20px;color:#000000;margin-bottom:10px;}
/******************/
.feature-wrap{padding:0 0 100px 0;}
.feature-section{
    background-image:url(../images/feature-bg.png);background-position:center;background-repeat:no-repeat;
    min-height:228px;border-radius:10px;position:relative;padding:0 45px 0 380px;display:flex;align-items:center;justify-content:space-between;
}
.feature-section .feature-man-img{position:absolute;bottom:0;left:5%;}
.feature-section h1{font-family:'Helvetica Bold';font-size:40px;color:#ffffff;margin-bottom:10px;text-transform:uppercase;}
.feature-section h2{font-family:'Microsoft Sans Serif';font-size:24px;color:#ffffff;}
.feature-section p{font-family:'Microsoft Sans Serif';font-size:16px;color:#ffffff;line-height:26px;}
.feature-section a{font-family:'Helvetica Bold';font-size:18px;color:#ffffff;background-color:#d80650;display:inline-block;padding:15px 25px;text-decoration:none;text-transform:uppercase;}
.feature-section a:hover{background-color:#3190E7;box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -moz-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);}
@media (max-width:1445px){
    .feature-section{flex-wrap:wrap;}
    .feature-section p br{display:none;}
}
@media (max-width:992px){
    .feature-section{background-color:#1a1a1a;min-height:500px;padding:25px 25px 280px 25px;justify-content:flex-start;align-items:flex-start;background-position:center bottom;}
    .feature-section p br{display:none;}
    .feature-section .feature-man-img{left:50%;margin-left:-107px;}
}
/**********************************************/
.testimonial-section{padding:0 0 100px 0;}
.testimonial-header{margin-bottom:45px;}
.testimonial-header h1{font-family:'Helvetica Bold';font-size:40px;color:#000000;text-align:center;text-transform:uppercase;}
.item-of-testimonial{background-color:#0063d9;border-radius:10px;padding:25px;text-align:center;position:relative;margin-top:25px;}
.item-of-testimonial::before{
    content: '';position:absolute;top:-20px;left:20px;width:40px;height:41px;
    background-image:url(../images/testimonial-img.png);background-position:0;background-repeat:no-repeat;
}
.item-of-testimonial p{font-family:'Helvetica Bold';font-size:18px;color:#ffffff;margin-bottom:10px;min-height:100px;}
.item-of-testimonial .testimonial-footer{display:flex;align-items:center;justify-content:space-between;}
.item-of-testimonial .testimonial-footer ul{list-style:none;display:flex;align-items:center;margin:0;}
.item-of-testimonial .testimonial-footer ul li{padding-left:10px;}
.item-of-testimonial .testimonial-footer ul li i{color:#ffffff;}
.item-of-testimonial .testimonial-footer h1{font-family:'Helvetica Bold';font-size:16px;color:#ffffff;text-align:left;}
.item-of-testimonial .testimonial-footer h1 span{font-family:'Microsoft Sans Serif';font-size:16px;color:#ffffff;display:block;}
/* .testimonial-section .owl-carousel.owl-drag .owl-item:nth-child(1).active .item-of-testimonial{
    background-color:#e5e5e5;
}
.testimonial-section .owl-carousel.owl-drag .owl-item:nth-child(3).active .item-of-testimonial{
    background-color:#e5e5e5;
} */
/**************************************/
.get-in-touch-section{padding:100px 0;background-color:#e3e3e3;}
.get-in-touch-section h1{font-family:'Helvetica Bold';font-size:40px;color:#000000;text-transform:uppercase;}
.form-field label{font-family:'Microsoft Sans Serif';font-size:18px;color:#000000;}
.form-field .input-field{padding-bottom:10px;}
.form-field .input-field input{border-color:#000000;border-style:solid;border-width:0 0 1px 0;background-color:transparent;font-size:26px;width:100%;}
.form-field .input-field input:focus{box-shadow:none;outline:0;}
.form-field .textarea-field{padding-bottom:20px;}
.form-field .textarea-field textarea{border-color:#000000;border-style:solid;border-width:0 0 1px 0;background-color:transparent;font-size:26px;width:100%;resize:none;}
.form-field .textarea-field textarea:focus{box-shadow:none;outline:0;}
.form-field .button-field input{font-family:'Helvetica Bold';font-size:18px;color:#ffffff;background-color:#d80650;display:inline-block;padding:15px 25px;text-decoration:none;text-transform:uppercase;border:0;}
.form-field .button-field input:hover{
    background-color:#3190E7;
    box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -moz-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);}
/*BOF Footer Section************************************/
.footer-section{background-color:#171717;padding:55px 0 0 0;}
.footer-section .footer-adress img{margin-bottom:35px;}
.footer-section .footer-adress ul{padding:0;margin:0;list-style:none;}
.footer-section .footer-adress ul li{padding-bottom:10px;display:flex;align-items:flex-start;}
.footer-section .footer-adress ul li i{margin-right:10px;}
.footer-section .footer-adress ul li:last-child span{width:60%;display:inline-block;}
.footer-section .footer-adress ul li,.footer-section .footer-adress ul li a{font-family:'Microsoft Sans Serif';font-size:14px;color:#cbcbcb;text-decoration:none;}
.footer-section .footer-adress .social-icon{display:flex;align-items:center;padding:10px 0 0 0;}
.footer-section .footer-adress .social-icon a{color:#ffffff;font-size:22px;display:inline-block;padding:0 10px;}
/***/
.footer-section .footer-product-list{border-left:#333333 solid 1px;padding:0 0 0 25px;}
.footer-section .footer-product-list h1{font-family:'Helvetica Bold';font-size:20px;color:#0063d9;padding-bottom:10px;}
.footer-section .footer-product-list ul{list-style:none;padding:0;margin:0;}
.footer-section .footer-product-list ul li a{font-family:'Microsoft Sans Serif';font-size:14px;color:#cbcbcb;text-decoration:none;padding-bottom:5px;display:inline-block;}
.footer-section .footer-make-in-india{padding-top:55px;}
.footer-section .footer-make-in-india img{width:100px;}
.footer-dark-section{background-color:#0f0f0f;padding:10px 0;text-align:center;margin:25px 0 0 0}
.footer-dark-section span{font-family:'Microsoft Sans Serif';font-size:14px;color:#cbcbcb;}

@media (max-width:991px){
    .footer-section .footer-product-list{border-top:#333333 solid 1px;border-left:0px;padding:25px 0 0 0;margin:25px 0 0 0;}
    .footer-dark-section{margin-top:25px;}
}
/*EOF Footer Section************************************/

/*********************/
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background:#0365e0;
}
/*****************************/
#back-to-top{
    position:fixed;bottom:20px;right:20px;z-index:999;-webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 40%);
    -webkit-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 40%);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
    border-radius: 100px;
}

/****************************************/
.inner-banner{
    min-height:303px;background-color:#0f0f0f;background-position:center bottom;background-repeat:no-repeat;    
    padding:45px 0 0 0;
}
.contact-banner{background-image:url(../images/contact-banner.jpg);}
.support-banner{background-image:url(../images/support-banner.jpg);}
.faq-banner{background-image:url(../images/faq-banner.jpg);}
.about-banner{background-image:url(../images/about-banner.jpg);}
.download-center-banner{background-image:url(../images/download-center-banner.jpg);}
.vibranium-threat-security-banner{background-image:url(../images/vibranium-threat-security-banner.jpg);}
.products-banner{background-image:url(../images/products-banner.jpg);}
.why-vibranium-banner{background-image:url(../images/why-vibranium-banner.jpg);}
.inner-banner .inner-banner-text{
    min-height:303px;display:flex;align-items:center;justify-content:center;flex-direction:column;
}
.inner-banner .inner-banner-text h1{
    color:#ffffff;font-family: 'Helvetica Regular';font-size:50px;text-transform:uppercase;
}
.inner-banner .inner-banner-text span{
    font-family: 'Microsoft Sans Serif';font-size:16px;color:#ffffff;
}
@media (max-width:767px){
    .inner-banner .inner-banner-text h1{font-size:28px;}

}
/*************************************/
.contact-us-section{padding:100px 0;}
.contact-address-section h1{
    font-family:'Helvetica Bold';font-size:40px;text-transform:uppercase;margin-bottom:15px;
}
.contact-address-section h1 span{
    display:block;font-family: 'Microsoft Sans Serif';font-size:20px;color:#0f68a1;text-transform:none;
}
.contact-address-section p{
    font-family: 'Microsoft Sans Serif';font-size:16px;margin-bottom:25px;
}
.contact-address-section .icons-box{position:relative;padding:0 0 0 50px;}
.contact-address-section .icons-box .icon{position:absolute;top:0;left:0;}
.contact-address-section .icons-box h2{font-family:'Helvetica Bold';font-size:20px;color:#3190E7}
.contact-address-section .icons-box p{font-family: 'Microsoft Sans Serif';font-size:16px;display:flex;align-items:center;}
.contact-address-section .icons-box p i{font-size:7px;color:#3190E7;margin:0 10px;}
.contact-form-section{padding:45px;border:#b0b0b0 solid 1px;}
/*****/
.map-section{min-height:400px;position:relative;border-top:#b0b0b0 solid 1px;}
.map-section iframe{position:absolute;width:100%;height:100%;}
/******************************/
.our-accordion .accordion-item{border:0;margin-bottom:15px;}
.our-accordion .accordion-item .accordion-header .accordion-button{
    background-color:#45a3f0;outline:none;box-shadow:none;font-family:'Helvetica Bold';font-size:18px;color:#ffffff;
}
.our-accordion .accordion-item .accordion-header .accordion-button span{color:#ffffff;font-family: 'Helvetica Regular';font-size:32px;display:inline-block;margin-right:10px;}
.our-accordion .accordion-item .accordion-header .accordion-button.collapsed span{color:#aba9a9;}
.our-accordion .accordion-item .accordion-header .accordion-button.collapsed{background-color:#e9e9e9;color:#000000;padding:20px;}
.our-accordion .accordion-item .accordion-collapse.collapse.show{background-color:#45a3f0;color:#ffffff;}
/*******/
.faq-action{text-align:center;padding:45px 0;}
.faq-action a{
    display:inline-block;background-color:#d80650;color:#ffffff;padding:15px 25px;text-decoration:none;
    font-family:'Helvetica Bold';font-size:18px;
}
.faq-action a:hover{
    background-color:#3190E7;
    box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -moz-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
}
/******************************/
.about-count-section{padding:0 0 100px 0;}
.about-count-item{display:block;}
.about-count-item h1{font-family:'Helvetica Bold';font-size:51px;position:relative;padding-bottom:20px}
.about-count-item h1 span{display:block;color:#0f68a1;font-family: 'Helvetica Regular';font-size:20px;padding-bottom:10px;}
.about-count-item h1 b{display:block;color:#d80650;font-family: 'Microsoft Sans Serif';font-size:16px;padding-top:10px;}
.about-count-item h1::after{
    content:'';width:20%;height:2px;background-color:#0f68a1;
    position:absolute;bottom:0;left:0;
}
/***********************************/
.security-against-section{padding:100px 0;}
.security-against-section .security-against-header{text-align:center;}
.security-against-section .security-against-header h1{font-size:40px;text-transform:uppercase;font-family:'Helvetica Bold';padding:0 0 20px 0;}
.security-against-section .security-against-header h1 span{font-size:20px;display:block;color:#0f68a1;text-transform:none;padding:0 0 15px 0;}
.security-against-section .security-against-header .arrow-bottom{padding:50px 0;}
.slideInDown{animation:slideInDown 2s ease 0s infinite normal forwards;}
@-webkit-keyframes slideInDown{
    0%{animation-timing-function:ease-in;opacity:1;transform:translateY(45px);}
    24%{opacity:1;}
    40%{animation-timing-function:ease-in;transform:translateY(24px);}
    65%{animation-timing-function:ease-in;transform:translateY(12px);}
    82%{animation-timing-function:ease-in;transform:translateY(6px);}
    93%{animation-timing-function:ease-in;transform:translateY(4px);}
    25%,55%,75%,87%{animation-timing-function:ease-out;transform:translateY(0px);}
    100%{animation-timing-function:ease-out;opacity:1;transform:translateY(0px);}
}
/*********************/
.product-features-section{padding:0 0 150px 0;}
.round-circle-section{
    background-image:url(../images/round-circle.png);background-position:0;background-repeat:no-repeat;
    height:754px;max-width:767px;margin:0 auto;position:relative;display:flex;align-items:center;justify-content:center;
}
.round-circle-section .pf-product-img{display:block;}
.round-circle-section .pfs-item{position:absolute;}
.round-circle-section .pfs-item.right-icon img{margin-left:25px;}
.round-circle-section .pfs-item.left-icon img{margin-right:25px;}
.round-circle-section .pfs-item.top-icon img{margin-bottom:25px;}
.round-circle-section .pfs-item.top-icon{display:flex;align-items:center;justify-content:center;flex-direction:column-reverse;}

.round-circle-section .pfs-item.edatabackup{top:101px;left:-175px;}
.round-circle-section .pfs-item.antitoorkit{top:251px;left:-145px;}
.round-circle-section .pfs-item.isolatedthreat{top:403px;left:-309px;}
.round-circle-section .pfs-item.zoreprotection{top:553px;left:-150px;}
.round-circle-section .pfs-item.herculesengine{top:690px;left:215px;}
.round-circle-section .pfs-item.emailscanner{top:101px;left:-95px;}
.round-circle-section .pfs-item.cloudreputation{top:251px;left:-194px;}
.round-circle-section .pfs-item.cloudfirewall{top:403px;left:-171px;}

.round-circle-section .pfs-item.behaviorai{top:103px;left:630px;white-space:nowrap;}
.round-circle-section .pfs-item.activeprotection{top:252px;left:702px;white-space:nowrap;}
.round-circle-section .pfs-item.usbdlp{top:403px;left:700px;white-space:nowrap;}
.round-circle-section .pfs-item.hourlyupdate{top:552px;left:630px;white-space:nowrap;}
@media (max-width:1430px){
    .round-circle-section{ background-image:none;max-width:inherit;height:inherit;display:flex;flex-direction:row-reverse;}
    .round-circle-section .pf-product-img{margin-right:45px;}
    .round-circle-section .pfs-item{position: relative;}
    /**/
    .round-circle-section .pfs-item.right-icon{display:flex;flex-direction:row-reverse;align-items:center;justify-content:flex-end;}
    .round-circle-section .pfs-item.right-icon img{margin-right:25px;margin-left:0;}
    .round-circle-section .pfs-item.top-icon{display:flex;flex-direction:row-reverse;align-items:center;justify-content:flex-end;}
    .round-circle-section .pfs-item.top-icon img{margin-bottom:0;margin-right:25px}
    .round-circle-section .pfs-item.edatabackup{top:inherit;left:inherit;}
    .round-circle-section .pfs-item.antitoorkit{top:inherit;left:inherit;}
    .round-circle-section .pfs-item.isolatedthreat{top:inherit;left:inherit;}
    .round-circle-section .pfs-item.zoreprotection{top:inherit;left:inherit;}
    .round-circle-section .pfs-item.herculesengine{top:inherit;left:inherit;}
    .round-circle-section .pfs-item.emailscanner{top:inherit;left:inherit;}
    .round-circle-section .pfs-item.cloudreputation{top:inherit;left:inherit;}
    .round-circle-section .pfs-item.cloudfirewall{top:inherit;left:inherit;}

    .round-circle-section .pfs-item.behaviorai{top:inherit;left:inherit;white-space:nowrap;}
    .round-circle-section .pfs-item.activeprotection{top:inherit;left:inherit;white-space:nowrap;}
    .round-circle-section .pfs-item.usbdlp{top:inherit;left:inherit;white-space:nowrap;}
    .round-circle-section .pfs-item.hourlyupdate{top:inherit;left:inherit;white-space:nowrap;}
}
@media (max-width:730px){
    .round-circle-section{flex-direction:column-reverse;}
    .round-circle-section .pf-product-img{margin-bottom:45px;margin-right:0;}
}
/***********************************/
.product-dettails-data-section{background-color:#e9e9e9;padding:50px 0 35px 0;}
.product-dettails-data-section .product-detail-item{background-color:#ffffff;padding:25px;height:100%;}
.product-dettails-data-section .product-detail-item h1{font-family:'Helvetica Bold';font-size:22px;padding:15px 0 10px 0;margin:0;}
.product-dettails-data-section .product-detail-item p{font-family:'Microsoft Sans Serif';font-size:15px;color:#757575;}
.product-dettails-data-section .product-detail-item:hover{
    background-color:#0063d9;box-shadow:0px 6px 10px rgba(0, 0, 0, 0.4);transform:scale(1.02);
    -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;
}
.product-dettails-data-section .product-detail-item:hover h1,.product-dettails-data-section .product-detail-item:hover p{color:#ffffff;}
/*************************/
.system-requirements-section h1{font-family:'Helvetica Bold';font-size:40px;text-transform:uppercase;margin-bottom:15px;}
.system-requirements-section p{font-family:'Microsoft Sans Serif';font-size: 16px;margin-bottom: 25px;}
.system-requirements-section ul{list-style:none;padding:0;margin:0;}
.system-requirements-section ul li{font-family:'Microsoft Sans Serif';font-size:16px;color:#000000;padding:0 0 0 20px;position:relative;margin-bottom:10px;}
.system-requirements-section ul li::before{content: '';position:absolute;left:0;top:7px;background-image:url(../images/arrow-right.png);background-position:0;background-repeat:no-repeat;width:10px;height:10px;display:block;}
.system-requirements-section a{font-family:'Helvetica Bold';font-size:18px;color:#ffffff;text-decoration:none;display:inline-block;padding:10px 20px;background-color:#d80650;margin-top:25px;}
.system-requirements-section a:hover{background-color:#0063d9;box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -moz-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);}
@media (max-width:992px){
    .system-requirements-section{padding-top:55px;}
}
/******************************************/
.download-center-section{padding:100px 0;}
.download-center-section .download-box{background-color:#e1e6ec;padding:55px 35px;margin:0 0 25px 0;display:flex;align-items:center;justify-content:flex-start;}
.download-center-section .dc-text h1{font-family: 'Helvetica Regular';font-size:40px;margin-bottom:15px;}
.download-center-section .dc-text span{display:block;font-family: 'Microsoft Sans Serif';font-size:16px;}
.download-center-section .dc-text label{font-family: 'Helvetica Bold';display:inline-block;padding-right:10px;}
.download-center-section .dc-text span img{height:35px;}
.download-center-section .dc-text a{
    display:inline-block;background-color:#ffffff;color:#000000;padding:15px 25px;text-decoration:none;font-family:'Helvetica Bold';font-size:18px;margin-top:25px;
    box-shadow:0px 10px 20px 0px rgba(216,6,80,0.2);-webkit-box-shadow:0px 10px 20px 0px rgba(216,6,80,0.2);-moz-box-shadow:0px 10px 20px 0px rgba(216,6,80,0.2);
}
.download-center-section .dc-text a:hover{
    background-color:#d80650;box-shadow:0px 10px 20px 0px rgba(216,6,80,0.2);-webkit-box-shadow:0px 10px 20px 0px rgba(216,6,80,0.2);-moz-box-shadow:0px 10px 20px 0px rgba(216,6,80,0.2);
    color:#ffffff;
}
.download-center-section .dc-prodect-box{width:400px;margin-right:35px;text-align:center;}
@media (max-width:767px){
    .download-center-section .download-box{flex-direction:column;}
    .download-center-section .dc-prodect-box{margin-bottom:35px;}
}
@media (max-width:400px){
    .download-center-section .dc-prodect-box{width:100%;margin-right:0}
    .download-center-section .dc-prodect-box img{width:100%;}
}
/**********************/
.download-software{padding:55px 0 0 0;}
.download-software h1{font-family: 'Helvetica Bold';font-size:40px;text-transform:uppercase;}
.form-field label{color:#004cd8;font-family: 'Microsoft Sans Serif';font-size:16px;}
.form-field .select-field select{
    border-width:0 0 1px 0;border-style:solid;border-color:#004cd8;width:100%;outline:none;box-shadow:0;font-family: 'Microsoft Sans Serif';font-size:26px;padding:10px;
}
.last-update-date{display:flex;align-items:center;justify-content:space-between;border:#d4d2d2 solid 1px;padding:25px;margin-top:45px;}
.last-update-date span{
    font-family: 'Helvetica Bold';font-size:32px;
    
}
.last-update-date span label{
    display:block;font-family: 'Microsoft Sans Serif';font-size:16px;
}
.last-update-date a{
    display:inline-block;background-color:#d80650;color:#ffffff;padding:15px 25px;text-decoration:none;
    font-family:'Helvetica Bold';font-size:18px;
}
.last-update-date a:hover{
    background-color:#3190E7;
    box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
    -moz-box-shadow: 0px 0px 20px 0px rgba(216,6,80,0.4);
}
@media (max-width:767px){
    .last-update-date{flex-direction:column;}
    .last-update-date span{padding-bottom:25px;text-align:center;}
}
/*****************/
.need-help-section{
    background-color:#004cd8;margin-top:75px;
    display:flex;align-items:center;justify-content:space-between;padding:50px 45px;
    background-image:url(../images/need-help-bg.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;
}
.need-help-section h1{margin:0;padding:0;color:#ffffff;font-family:'Helvetica Bold';font-size:28px;text-transform:uppercase;}
.need-help-section a{
    display:inline-block;background-color:#ffffff;color:#000000;padding:15px 25px;text-decoration:none;font-family:'Helvetica Bold';font-size:18px;
    box-shadow:0px 10px 20px 0px rgba(216,6,80,0.2);-webkit-box-shadow:0px 10px 20px 0px rgba(216,6,80,0.2);-moz-box-shadow:0px 10px 20px 0px rgba(216,6,80,0.2);
}
.need-help-section a:hover{
    background-color:#d80650;box-shadow:0px 10px 20px 0px rgba(216,6,80,0.2);-webkit-box-shadow:0px 10px 20px 0px rgba(216,6,80,0.2);-moz-box-shadow:0px 10px 20px 0px rgba(216,6,80,0.2);
    color:#ffffff;
}
@media (max-width:767px){
    .need-help-section{flex-direction:column;}
    .need-help-section h1{padding-bottom:25px;text-align:center;}
}
/**************************************/
.products-section{padding:100px 0;}
.products-section .product-head{padding-bottom:45px;text-align:center;}
.products-section .product-head h1{font-family: 'Helvetica Bold';font-size:40px;text-transform:uppercase;}
.products-section .product-head h1 span{display:block;color:#0f68a1;font-family:'Helvetica Regular';font-size:20px;text-transform:none;padding-bottom:10px;}
/***/
.products-box{
    background-color:#e1e6ec;min-height:515px;padding:25px;display:flex;align-items:center;justify-content:center;flex-direction:column;
    position:relative;margin-bottom:25px;
}
.products-box .card-front h2{font-family:'Helvetica Regular';font-size:30px;text-align: center;padding-top: 25px;}
.products-box .card-back{display:none;}
.products-box:hover .card-back{
    display:block;position:absolute;left:0;top:0;padding:55px;
    background-color:#0063d9;width:100%;height:100%;text-align:center;
}
.products-box .card-back h2{
    color:#ffffff;font-size:30px;font-family:'Helvetica Regular';padding-bottom:25px;
}
.products-box .card-back p{
    color:#ffffff;font-size:16px;font-family:'Microsoft Sans Serif';min-height:150px;
}
.products-box .card-back .card-price{
    color:#ffffff;font-size:28px;font-family:'Helvetica Regular';padding-bottom:25px;display:block;
}
.products-box .card-back .card-price label{
    font-family: 'Helvetica Bold';
}

.products-box .card-back .card-action{
    display:flex;align-items:center;justify-content:center;
}
.products-box .card-back .card-action a{
    width:76px;height:76px;display:block;background-color:#014fac;border-radius:100px;margin:0 10px;
}
.products-box .card-back .card-action a:hover{
    background-color:#d80650;
}
.product-arrow{padding:50px 0 100px 0;text-align:center;}
.product-accordion h1{
    font-family:'Helvetica Bold';font-size:24px;color:#d80650;border-bottom:#d1d1d1 solid 2px;text-align:center;
    display:inline-block;padding:15px 30px;margin-bottom:45px;
}
.product-accordion h6{
    font-family:'Helvetica Bold';font-size:24px;color:#000000;text-align:center;
    display:inline-block;padding:15px 0;margin-top:15px;
}
.product-accordion .accordion-body{padding:0;}
.product-accordion table{width:100%;}
.product-accordion table tr td{text-align:center;width:33.33%;}
.product-accordion .product-features-row{padding:10px 0;}
.product-accordion .product-features-row:nth-child(2n - 2){background-color:#f0f0f0;}
.product-accordion .product-features-row p{
    font-family: 'Microsoft Sans Serif';font-size:20px;
}
.product-accordion .product-features-row p i.red-text{color:#d80650;}
.product-accordion .product-features-row p i.blue-text{color:#0063d9;}
.product-accordion .accordion .accordion-item .accordion-header .accordion-button{
    outline:none;box-shadow:none;text-align:center!important;justify-content:center;
    color:#0063d9;font-family:'Helvetica Bold';font-size:24px;display:block;
}
.product-accordion .accordion .accordion-item .accordion-header .accordion-button::after{
    position:absolute;top:20px;right:10px;
}
/*****************/
.why-vibranium-section{padding:100px 0;}
.why-vibranium-section.dark-section{background-color:#f2f2f2;}
.why-vibranium-section .right-text-section{text-align:right;}
.why-vibranium-section .left-text-section{text-align:left;}
.why-vibranium-section .img-right{text-align:right;}
.why-vibranium-section .space-left{margin-left:55px;}
.why-vibranium-section .space-right{margin-right:55px;}
.why-vibranium-section h1{font-family:'Helvetica Bold';font-size:40px;text-transform:uppercase;padding-bottom:15px;}
.why-vibranium-section p{font-family:'Microsoft Sans Serif';font-size:16px;text-transform:none;line-height:26px;}
@media (max-width:991px){
    .why-vibranium-section .space-left{margin-left:0;margin-bottom:55px;text-align:center;}
    .why-vibranium-section .right-text-section{text-align:center;}
    .why-vibranium-section .space-right{margin-right:0;margin-bottom:55px;text-align:center;}
    .why-vibranium-section .left-text-section{text-align:center;}
}
/****************************/
.wv-about-vibramium-section{padding:100px 0 50px;}
.wv-about-vibramium-section .blue-section{
    background-color:#0063d9;border-radius:18px;padding:50px;overflow:hidden;position:relative;
    box-shadow: 0px 8px 25px 0px rgba(0,99,217,0.75);
-webkit-box-shadow: 0px 8px 25px 0px rgba(0,99,217,0.75);
-moz-box-shadow: 0px 8px 25px 0px rgba(0,99,217,0.75);
}
.wv-about-vibramium-section .blue-section h1{text-align:center;font-family:'Helvetica Bold';font-size:40px;text-transform:uppercase;padding-bottom:45px;color:#ffffff;}
.wv-about-vibramium-section .blue-section .left-section{width:50%;float:left;}
.wv-about-vibramium-section .blue-section .right-section{width:50%;float:left;}
.wv-about-vibramium-section .blue-section{text-align:center;}
.wv-about-vibramium-section .blue-section p{color:#ffffff;font-family:'Microsoft Sans Serif';font-size:16px;text-transform:none;line-height:26px;}
.wv-about-vibramium-section .blue-section ul{list-style:none;margin:45px 0 0 0;padding:0;}
.wv-about-vibramium-section .blue-section ul li{text-align:center;padding:0 25px 25px 25px;}
.wv-about-vibramium-section .blue-section ul li span{font-family:'Helvetica Bold';font-size:51px;color:#ffffff;}
.wv-about-vibramium-section .blue-section ul li span label{display:block;font-family:'Microsoft Sans Serif';font-size:16px;color:#ffffff;}
.wv-about-vibramium-section .blue-section ul.three-col{display:flex;align-items:center;justify-content:center;}
.wv-about-vibramium-section .blue-section ul.two-col{display:flex;align-items:center;justify-content:center;flex-wrap:wrap;}
.wv-about-vibramium-section .blue-section ul.two-col li{width:33.33%;}
.wv-about-vibramium-section .blue-section .sepretor{
    background-image:url(../images/sepretor-img.png);background-position:center;background-repeat:no-repeat;overflow:hidden;
}
.wv-about-vibramium-section .dark-section{background-color:#e5e9ee;border-radius:0 0 18px 18px;padding:75px 50px 50px 50px;margin:0 auto;width:95%;}
.wv-about-vibramium-section .dark-section .two-box{margin-bottom:25px;}
.wv-about-vibramium-section .dark-section .dark-box img{width:150px;margin-bottom:25px;}
.wv-about-vibramium-section .dark-section .dark-box h1{font-family:'Helvetica Bold';font-size:32px;margin-bottom:15px;}
.wv-about-vibramium-section .dark-section .dark-box p{font-family:'Microsoft Sans Serif';font-size:16px;text-transform:none;line-height:26px;}
.wv-about-vibramium-section .dark-section ul.make-logos{list-style:none;padding:0;margin:0;display:flex;flex-direction:column;justify-content:flex-end;align-items:flex-end;}
.wv-about-vibramium-section .dark-section ul.make-logos li{display:flex;align-items:center;justify-content:flex-start;}
.wv-about-vibramium-section .dark-section ul.make-logos li span{font-family:'Helvetica Bold';font-size:20px;display:inline-block;width:200px;}
.wv-about-vibramium-section .dark-section ul.make-logos li img{margin-right:15px;}
.faq-title{font-family:'Helvetica Bold';font-size:32px;margin-bottom:45px;text-transform:uppercase; text-align:center;}
@media (max-width:1380px){
    .wv-about-vibramium-section .blue-section .sepretor{background-image:url(../images/sepretor-img-02.png);}
}
@media (max-width:1200px){
    .wv-about-vibramium-section .blue-section .sepretor{background-image:none;}
    .wv-about-vibramium-section .blue-section .left-section{width:100%;float:none;}
    .wv-about-vibramium-section .blue-section .right-section{width:100%;float:none;padding-top:75px;}
    .wv-about-vibramium-section .dark-section ul.make-logos{justify-content:center;align-items:center;padding-top:75px;}
}
@media (max-width:600px){
    .wv-about-vibramium-section .blue-section ul.three-col{flex-wrap: wrap;}
    .wv-about-vibramium-section .blue-section ul.two-col li{width:auto;}
}